@model HomeScrum.Web.Models.EditProjectStatusViewModel
@using (Html.BeginForm())
{
    @Html.ValidationSummary( true )

    @Html.Partial( "_DataObjectBaseEditor", Model.DomainModel )

    <fieldset>
        <legend>Properties</legend>

        <div class="formBooleanOption">
            @Html.EditorFor( model => model.DomainModel.IsActive )
            @Html.LabelFor( model => model.DomainModel.IsActive )
            @Html.ValidationMessageFor( model => model.DomainModel.IsActive )
        </div>

        <div class="formBooleanOption">
            @Html.EditorFor( model => model.DomainModel.AllowUse )
            @Html.LabelFor( model => model.DomainModel.AllowUse )
            @Html.ValidationMessageFor( model => model.DomainModel.AllowUse )
        </div>

        <p>
            <input type="submit" value="@ViewBag.EditorButtonLabel" />
        </p>
    </fieldset>
}