@model HomeScrum.Data.Domain.ProjectStatus

@using (Html.BeginForm())
{
    @Html.ValidationSummary( true )

    <fieldset>
        <legend>ProjectStatus</legend>

        <div class="formSingleLineEdit">
            @Html.LabelFor( model => model.Name )
            @Html.EditorFor( model => model.Name )
            @Html.ValidationMessageFor( model => model.Name )
        </div>

        <div class="formLongText">
            @Html.LabelFor( model => model.Description )
            @Html.EditorFor( model => model.Description )
            @Html.ValidationMessageFor( model => model.Description )
        </div>
    </fieldset>

    <fieldset>
        <legend>Properties</legend>

        <div class="formBooleanOption">
            @Html.EditorFor( model => model.IsActive )
            @Html.LabelFor( model => model.IsActive )
            @Html.ValidationMessageFor( model => model.IsActive )
        </div>

        <div class="formBooleanOption">
            @Html.EditorFor( model => model.AllowUse )
            @Html.LabelFor( model => model.AllowUse )
            @Html.ValidationMessageFor( model => model.AllowUse )
        </div>

        <p>
            <input type="submit" value="@ViewBag.EditorButtonLabel" />
        </p>
    </fieldset>
}