@model HomeScrum.Web.Models.Admin.UserEditorViewModel


@using (Html.BeginForm( null, null, null, FormMethod.Post, new { id = "Editor", @class = "form-horizontal", role = "form" } ))
{
   @Html.ValidationSummary( true )

   <fieldset>
      <legend class="hidden">User</legend>

      <div class="form-group">
         @Html.LabelFor( model => model.UserName, new { @class = "col-sm-2 control-label" } )
         <div class="col-sm-6">
            @Html.TextBoxFor( model => model.UserName, new { @class = "form-control" } )
            @Html.ValidationMessageFor( model => model.UserName )
         </div>
      </div>

      @*If the Model is NULL, a new user is being created, and thus the password needs to be entered.*@
      @if (Model == null || Model.IsNewUser)
      {
         <div class="form-group">
            @Html.LabelFor( model => model.NewPassword, new { @class = "col-sm-2 control-label" } )
            <div class="col-sm-6">
               @Html.PasswordFor( model => model.NewPassword, new { @class = "form-control" } )
               @Html.ValidationMessageFor( model => model.NewPassword )
            </div>
         </div>

         <div class="form-group">
            @Html.LabelFor( model => model.ConfirmPassword, new { @class = "col-sm-2 control-label" } )
            <div class="col-sm-6">
               @Html.PasswordFor( model => model.ConfirmPassword, new { @class = "form-control" } )
               @Html.ValidationMessageFor( model => model.ConfirmPassword )
            </div>
         </div>
      }

      <div class="form-group">
         @Html.LabelFor( model => model.FirstName, new { @class = "col-sm-2 control-label" } )
         <div class="col-sm-6">
            @Html.TextBoxFor( model => model.FirstName, new { @class = "form-control" } )
            @Html.ValidationMessageFor( model => model.FirstName )
         </div>
      </div>

      <div class="form-group">
         @Html.LabelFor( model => model.MiddleName, new { @class = "col-sm-2 control-label" } )
         <div class="col-sm-6">
            <span>@Html.TextBoxFor( model => model.MiddleName, new { @class = "form-control" } )</span>
            @Html.ValidationMessageFor( model => model.MiddleName )
         </div>
      </div>

      <div class="form-group">
         @Html.LabelFor( model => model.LastName, new { @class = "col-sm-2 control-label" } )
         <div class="col-sm-6">
            @Html.TextBoxFor( model => model.LastName, new { @class = "form-control" } )
            @Html.ValidationMessageFor( model => model.LastName )
         </div>
      </div>

      <div class="form-group">
         <div class="col-sm-offset-2 col-sm-6">
            @Html.EditorFor( model => model.IsActive )
            @Html.LabelFor( model => model.IsActive )
            @Html.ValidationMessageFor( model => model.IsActive )
         </div>
      </div>
   </fieldset>


   <input type="submit" value="@ViewBag.EditorButtonLabel" class="btn btn-primary" />
   @Html.ActionLink( "Cancel", Model.CallingAction ?? "Index", Model.CallingController,
       (Model.CallingId != default( Guid )) ? new { id = Model.CallingId.ToString() } : null, new { id = "CancelButton" } )
}

