@model HomeScrum.Web.Models.UserEditorViewModel

@using (Html.BeginForm())
{
    @Html.ValidationSummary( true )

    <fieldset>
        <legend>User</legend>

        <div class="editor-label">
            @Html.LabelFor( model => model.User.UserId )
        </div>
        <div class="editor-field">
            @Html.EditorFor( model => model.User.UserId )
            @Html.ValidationMessageFor( model => model.User.UserId )
        </div>

        <div class="editor-label">
            @Html.LabelFor( model => model.User.FirstName )
        </div>
        <div class="editor-field">
            @Html.EditorFor( model => model.User.FirstName )
            @Html.ValidationMessageFor( model => model.User.FirstName )
        </div>

        <div class="editor-label">
            @Html.LabelFor( model => model.User.MiddleName )
        </div>
        <div class="editor-field">
            @Html.EditorFor( model => model.User.MiddleName )
            @Html.ValidationMessageFor( model => model.User.MiddleName )
        </div>

        <div class="editor-label">
            @Html.LabelFor( model => model.User.LastName )
        </div>
        <div class="editor-field">
            @Html.EditorFor( model => model.User.LastName )
            @Html.ValidationMessageFor( model => model.User.LastName )
        </div>

        <div class="editor-label">
            @Html.LabelFor( model => model.User.IsActive )
        </div>
        <div class="editor-field">
            @Html.EditorFor( model => model.User.IsActive )
            @Html.ValidationMessageFor( model => model.User.IsActive )
        </div>

        <p>
            <input type="submit" value="@ViewBag.EditorButtonLabel" />
        </p>
    </fieldset>
}
