@model HomeScrum.Web.Models.UserEditorViewModel

<div id="UserEditor">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary( true )

        <fieldset>
            <legend>User</legend>

            <div class="formSingleLineEdit">
                @Html.LabelFor( model => model.User.UserId )
                @Html.EditorFor( model => model.User.UserId )
                @Html.ValidationMessageFor( model => model.User.UserId )
            </div>

            @*If the Model is NULL, a new user is being created, and thus the password needs to be entered.*@
            @if (Model == null || Model.IsNewUser)
            {
                <div class="formSingleLineEdit">
                    @Html.LabelFor( model => model.Password )
                    @Html.EditorFor( model => model.Password )
                    @Html.ValidationMessageFor( model => model.Password )
                </div>
            
                <div class="formSingleLineEdit">
                    @Html.LabelFor( model => model.ConfirmPassword )
                    @Html.EditorFor( model => model.ConfirmPassword )
                    @Html.ValidationMessageFor( model => model.ConfirmPassword )
                </div>
            }

            <div class="formSingleLineEdit">
                @Html.LabelFor( model => model.User.FirstName )
                @Html.EditorFor( model => model.User.FirstName )
                @Html.ValidationMessageFor( model => model.User.FirstName )
            </div>

            <div class="formSingleLineEdit">
                @Html.LabelFor( model => model.User.MiddleName )
                @Html.EditorFor( model => model.User.MiddleName )
                @Html.ValidationMessageFor( model => model.User.MiddleName )
            </div>

            <div class="formSingleLineEdit">
                @Html.LabelFor( model => model.User.LastName )
                @Html.EditorFor( model => model.User.LastName )
                @Html.ValidationMessageFor( model => model.User.LastName )
            </div>

            <div class="formBooleanOption">
                @Html.EditorFor( model => model.User.IsActive )
                @Html.LabelFor( model => model.User.IsActive )
                @Html.ValidationMessageFor( model => model.User.IsActive )
            </div>
        </fieldset>
    
        <p>
            <input type="submit" value="@ViewBag.EditorButtonLabel" />
        </p>
    }
</div>
