@model HomeScrum.Web.Models.Base.DomainObjectViewModel

<fieldset>
   <legend>Basic Information</legend>

   <div class="formSingleLineEdit">
      @Html.LabelFor( model => model.Name )
      <span>@Html.TextBoxFor( model => model.Name, new { @class = "MainData" } )</span>
      @Html.ValidationMessageFor( model => model.Name )
   </div>

   <div class="formLongText">
      @Html.LabelFor( model => model.Description )
      <span>@Html.TextAreaFor( model => model.Description, new { @class = "MainData text-box multi-line" } )</span>
      @Html.ValidationMessageFor( model => model.Description )
   </div>
</fieldset>

