<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <title>HomeScrum - @ViewBag.Title</title>
   <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
   <meta name="viewport" content="width=device-width" />
   @Styles.Render( "~/Content/themes/jqueryDataTables/css" )
   @Styles.Render( "~/Content/css" )
   @Styles.Render( "~/Content/themes/base/css" )


   @Scripts.Render( "~/bundles/modernizr" )
   @Scripts.Render( "~/bundles/vendor" )
   @Scripts.Render( "~/bundles/jqueryDataTables" )
   @Scripts.Render( "~/bundles/jqueryDataTablesCust" )
   @Scripts.Render( "~/bundles/myScripts" )

   <script type="text/javascript" charset="utf-8">
      $(document).ready(function () {
         $(".dataTableList").dataTable();
      });
   </script>
</head>
<body>
   <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href='/home/about'>
            <span class="glyphicon glyphicon-home"></span>
            <span>HomeScrum</span>
         </a>
      </div>

      <div class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
            <li class="active">@Html.ActionLink( "My Assignments", "MyAssignments", "WorkItems" )</li>
            <li>@Html.ActionLink( "Current Sprints", "CurrentSprints", "Sprints" )</li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Work Items <b class="caret"></b></a>
               <ul class="dropdown-menu">
                  <li>@Html.ActionLink( "Unassigned Problems", "UnassignedProblems", "WorkItems" )</li>
                  <li>@Html.ActionLink( "Unassigned Tasks", "UnassignedTasks", "WorkItems" )</li>
                  <li>@Html.ActionLink( "Unassigned Backlog", "UnassignedBacklog", "WorkItems" )</li>
                  <li class="divider"></li>
                  <li>@Html.ActionLink( "All Work Items", "Index", "WorkItems" )</li>
               </ul>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sprints <b class="caret"></b></a>
               <ul class="dropdown-menu">
                  <li>@Html.ActionLink( "Open Sprints", "OpenSprints", "Sprints" )</li>
                  <li>@Html.ActionLink( "All Sprints", "Index", "Sprints" )</li>
               </ul>
            </li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
               <ul class="dropdown-menu">
                  <li>@Html.ActionLink( "Acceptance Criterion Statuses", "Index", "AcceptanceCriterionStatuses" )</li>
                  <li>@Html.ActionLink( "Project Statuses", "Index", "ProjectStatuses" )</li>
                  <li>@Html.ActionLink( "Sprint Statuses", "Index", "SprintStatuses" )</li>
                  <li>@Html.ActionLink( "Work Item Statuses", "Index", "WorkItemStatuses" )</li>
                  <li>@Html.ActionLink( "Work Item Types", "Index", "WorkItemTypes" )</li>
                  <li class="divider"></li>
                  <li>@Html.ActionLink( "Projects", "Index", "Projects" )</li>
                  <li class="divider"></li>
                  <li>@Html.ActionLink( "Users", "Index", "Users" )</li>
               </ul>
            </li>
         </ul>

         @Html.Partial( "_LoginPartial" )

      </div>
   </nav>

   <div class="container page-host">

      <section class="WorkArea">
         @RenderSection( "featured", required: false )
         <article class="content-wrapper main-content clear-fix">
            @RenderBody()
         </article>
      </section>

      <footer>
         <div id="copyright">
            <p>&copy; @DateTime.Now.Year - Ken Sodemann</p>
         </div>
      </footer>
   </div>



   @RenderSection( "scripts", required: false )

   <script>
      $(function () {
         $("input[type=submit], button").button();
      });
   </script>

   <script type="text/javascript">
      $(function () {
         $("input[type=text]").first().focus();
      });
   </script>
</body>
</html>
