<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>HomeScrum - @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render( "~/Content/css" )
    @Scripts.Render( "~/bundles/modernizr" )
</head>
<body>
    <header>
        <h1>Home Scrum</h1>

        <section id="headerMenu">
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink( "Home", "Index", "Home" )</li>
                    <li>@Html.ActionLink( "About", "About", "Home" )</li>
                </ul>
            </nav>
            <section id="login">
                @Html.Partial( "_LoginPartial" )
            </section>
        </section>
        <div class="endRegion"></div>
    </header>

    <div class="Content">

        <aside class="Sidebar">
            <nav>
                <h2>Tasks</h2>

                <ul>
                    <li><a href="#">Add New Task</a></li>
                    <li><a href="#">My Task List</a></li>
                    <li><a href="#">Unassigned Tasks</a></li>
                    <li><a href="#">Task Manager</a></li>
                </ul>

                <h2>Sprints</h2>

                <ul>
                    <li><a href="#">Current Sprints</a></li>
                    <li><a href="#">Open Sprints</a></li>
                    <li><a href="#">All Sprints</a></li>
                </ul>

                <h2>Admin</h2>

                <ul>
                    <li><a href="#">My Profile</a></li>
                    <li>@Html.ActionLink( "Users", "Index", "Users" )</li>
                    <li>@Html.ActionLink( "Projects", "Index", "Projects" )</li>
                    <li>@Html.ActionLink( "Acceptance Criteria Statuses", "Index", "AcceptanceCriteriaStatuses" )</li>
                    <li>@Html.ActionLink( "Project Statuses", "Index", "ProjectStatuses" )</li>
                    <li>@Html.ActionLink( "Sprint Statuses", "Index", "SprintStatuses" )</li>
                    <li>@Html.ActionLink( "Work Item Statuses", "Index", "WorkItemStatuses" )</li>
                    <li>@Html.ActionLink( "Work Item Types", "Index", "WorkItemTypes" )</li>
                </ul>
            </nav>
        </aside>

        <section class="WorkArea">
            @RenderSection( "featured", required: false )
            <article class="content-wrapper main-content clear-fix">
                @RenderBody()
            </article>
        </section>

        <div class="endRegion"></div>
    </div>

    <footer>
        <div id="copyright">
            <p>&copy; @DateTime.Now.Year - Ken Sodemann</p>
        </div>
    </footer>

    @Scripts.Render( "~/bundles/jquery" )
    @RenderSection( "scripts", required: false )
</body>
</html>
