<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <title>HomeScrum - @ViewBag.Title</title>
   <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
   <meta name="viewport" content="width=device-width" />
   @Styles.Render( "~/Content/css" )
   @Styles.Render( "~/Content/themes/cupertino/css" )
   @Scripts.Render( "~/bundles/modernizr" )
   @Scripts.Render( "~/bundles/jquery" )
   @Scripts.Render( "~/bundles/myScripts" )
</head>
<body>
   <header>
      <h1>Home Scrum</h1>

      <section id="headerMenu">
         <nav>
            <ul id="menu">
               <li>@Html.ActionLink( "Home", "Index", "Home" )</li>
               <li>@Html.ActionLink( "About", "About", "Home" )</li>
            </ul>
         </nav>
         <section id="login">
            @Html.Partial( "_LoginPartial" )
         </section>
      </section>
      <div class="endRegion"></div>
   </header>

   <div class="Content">

      <aside class="Sidebar">
         <nav>
            <h2>Work Items</h2>

            <ul>
               <li><a href="#">Add New Task</a></li>
               <li>@Html.ActionLink( "My Tasks", "MyAssignments", "WorkItems" )</li>
               <li><a href="#">Unassigned Tasks</a></li>
               <li>@Html.ActionLink( "All Work Items", "Index", "WorkItems" )</li>
            </ul>

            <h2>Sprints</h2>

            <ul>
               <li>@Html.ActionLink( "Current Sprints", "CurrentSprints", "Sprints" )</li>
               <li>@Html.ActionLink( "Open Sprints", "OpenSprints", "Sprints" )</li>
               <li>@Html.ActionLink( "All Sprints", "Index", "Sprints" )</li>
            </ul>

            <h2>Admin</h2>

            <ul>
               <li><a href="#">My Profile</a></li>
               <li>@Html.ActionLink( "Users", "Index", "Users" )</li>
               <li>@Html.ActionLink( "Projects", "Index", "Projects" )</li>
               <li>@Html.ActionLink( "Acceptance Criterion Statuses", "Index", "AcceptanceCriterionStatuses" )</li>
               <li>@Html.ActionLink( "Project Statuses", "Index", "ProjectStatuses" )</li>
               <li>@Html.ActionLink( "Sprint Statuses", "Index", "SprintStatuses" )</li>
               <li>@Html.ActionLink( "Work Item Statuses", "Index", "WorkItemStatuses" )</li>
               <li>@Html.ActionLink( "Work Item Types", "Index", "WorkItemTypes" )</li>
            </ul>
         </nav>
      </aside>

      <section class="WorkArea">
         @RenderSection( "featured", required: false )
         <article class="content-wrapper main-content clear-fix">
            @RenderBody()
         </article>
      </section>

      <div class="endRegion"></div>
   </div>

   <footer>
      <div id="copyright">
         <p>&copy; @DateTime.Now.Year - Ken Sodemann</p>
      </div>
   </footer>

   @RenderSection( "scripts", required: false )

   <script>
      $(function () {
         $("input[type=submit], button").button();
      });
   </script>

   <script type="text/javascript">
      $(function () {
         $("input[type=text]").first().focus();
      });
   </script>
</body>
</html>
