@model IEnumerable<HomeScrum.Web.Models.WorkItems.WorkItemIndexViewModel>

<table>
   <tr>
      <th class="DataColumn">
         @Html.DisplayNameFor( model => model.WorkItemTypeName )
      </th>
      <th class="DescriptiveText">
         @Html.DisplayNameFor( model => model.Name )
      </th>
      <th class="DataColumn">
         @Html.DisplayNameFor( model => model.StatusName )
      </th>
   </tr>

   @foreach (var item in Model)
   {
      var rowClass = item.IsComplete ? "CompletedItemRow" : "NotCompletedItemRow";
        
      <tr id="@Html.AttributeEncode( item.Id.ToString() )" class="@rowClass">
         <td class="DataColumn">
            @Html.DisplayFor( modelItem => item.WorkItemTypeName )
         </td>
         <td class="DescriptiveText">
            @Html.ActionLink( item.Name, "Edit", new { id = item.Id, callingAction = ViewBag.ActionName } )
         </td>
         <td class="DataColumn">
            @Html.DisplayFor( modelItem => item.StatusName )
         </td>
      </tr>
   }
</table>
