@{
    ViewBag.Title = "Administration Routines";
}

<h2>Administration</h2>

<p>This is really just a place holder.  I don't see this being something that is generally displayed
    in the actual application.  OTOH, if someone actually navigates here, I may want to show something.
    I will have to think about that.
</p>

<p>For now, let's just link to the various base data items.</p>

<ul>
    <li>@Html.ActionLink("Acceptance Criteria Statuses", "../AcceptanceCriteriaStatuses")</li>
    <li>@Html.ActionLink("Project Statuses", "../ProjectStatuses")</li>
    <li>@Html.ActionLink("Sprint Statuses", "../SprintStatuses")</li>
    <li>@Html.ActionLink("Work Item Statuses", "../WorkItemStatuses")</li>
    <li>@Html.ActionLink("Work Item Types", "../WorkItemTypes")</li>
</ul> 