@model HomeScrum.Web.Models.Home.Snapshot

@{
   ViewBag.Title = "Home Scrum";
}
@section featured {
   <article class="featured container">
      <div class="content-wrapper jumbotron">
         <h2>Welcome to HomeScrum</h2>
         <p>
            You are currently using Version 1.4.0.  This version was released on 2014/01/18.  New versions are released roughly monthly.  Enjoy!!
         </p>
      </div>
   </article>
}

@Scripts.Render( "~/jqPlot" )
@Scripts.Render( "~/jqPlotplugins" )

<h2>Recent Activity</h2>

<div class="row">
   <div class="col-md-4">
      <h3>My Activity</h3>
      <div class="list-group">
         @foreach (var item in Model.RecentActivity)
         {
            @Html.ActionLink( item.Name, "Details", "WorkItems", new { id = item.Id, callingController = "Home", callingAction = "Index" }, new { @class = "list-group-item" } )
         }
      </div>
   </div>

   <div class="col-md-4">
      <h3>Newest Work Items</h3>
      <div class="list-group">
         @foreach (var item in Model.NewestWorkItems)
         {
            @Html.ActionLink( item.Name, "Details", "WorkItems", new { id = item.Id, callingController = "Home", callingAction = "Index" }, new { @class = "list-group-item" } )
         }
      </div>
   </div>

   <div class="col-md-4">
      <h3>Latest Sprints</h3>
      <div class="list-group">
         @foreach (var item in Model.LatestSprints)
         {
            @Html.ActionLink( item.Name, "Details", "Sprints", new { id = item.Id, callingController = "Home", callingAction = "Index" }, new { @class = "list-group-item" } )
         }
      </div>
   </div>
</div>


<h2>Burndowns for Current Sprints</h2>

<div class="row">
   @foreach (var chart in Model.BurndownCharts)
   {
      <div id="burndown" class="col-lg-6">
         @Html.Partial( "_BurndownChart", chart )
      </div>
   }
</div>