@model IEnumerable<HomeScrum.Web.Models.Sprints.SprintWorkItemViewModel>

<table>
   <tr>
      <th class="DataColumn">
         @Html.DisplayNameFor( model => model.WorkItemTypeName )
      </th>
      <th class="DataColumn">
         @Html.DisplayNameFor( model => model.StatusName )
      </th>
      <th class="DescriptiveText">
         @Html.DisplayNameFor( model => model.Name )
      </th>
   </tr>

   @foreach (var item in Model)
   {
      <tr>
         <td class="DataColumn">
            @Html.DisplayFor( modelItem => item.WorkItemTypeName )
         </td>
         <td class="DataColumn">
            @Html.DisplayFor( modelItem => item.StatusName )
         </td>
         <td class="DescriptiveText">
            @Html.DisplayFor( modelItem => item.Name )
         </td>
      </tr>
   }

</table>
