@model IEnumerable<HomeScrum.Web.Models.Sprints.SprintIndexViewModel>

@{
   ViewBag.Title = "All Sprints";
}

<h2>All Sprints</h2>

<table>
   <tr>
      <th>
         @Html.DisplayNameFor( model => model.ProjectName )
      </th>
      <th>
         @Html.DisplayNameFor( model => model.Name )
      </th>
      <th>
         @Html.DisplayNameFor( model => model.StatusName )
      </th>
      <th>
         @Html.DisplayNameFor( model => model.StartDate )
      </th>
      <th>
         @Html.DisplayNameFor( model => model.EndDate )
      </th>
      <th></th>
   </tr>

   @foreach (var item in Model)
   {
      <tr>
         <td>
            @Html.DisplayFor( modelItem => item.ProjectName )
         </td>
         <td>
            @Html.DisplayFor( modelItem => item.StartDate )
         </td>
         <td>
            @Html.DisplayFor( modelItem => item.EndDate )
         </td>
         <td>
            @Html.DisplayFor( modelItem => item.Name )
         </td>
         <td>
            @Html.DisplayFor( modelItem => item.StatusName )
         </td>
         <td>
            @Html.ActionLink( "Edit", "Edit", new { id = item.Id } ) |
            @Html.ActionLink( "Details", "Details", new { id = item.Id } )
         </td>
      </tr>
   }
</table>

<div id="ActionButtonArea">
    @Html.ActionLink( "Create New", "Create", null, new { id = "CreateNewItem" } )
    @*<input type="checkbox" id="ShowCompletedToggle" /><label for="ShowCompletedToggle">Show/Hide</label>*@
</div>

<script>
    $(function () {
        $("#CreateNewItem").button();
        @*setupShowHideButton("@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()", $("#ShowCompletedToggle"), "Completed");*@
    });
</script>
