@model HomeScrum.Web.Models.Admin.SprintStatusViewModel

@Html.Partial( "_DomainObjectBaseDetails", Model )

<fieldset>
    <legend>SprintStatus</legend>

    <div class="displayCheckBox" id="AllowUse">
        @Html.DisplayFor( model => model.AllowUse )
    </div>
    <div class="displayCheckBoxLabel" id="AllowUseLabel">
        @Html.DisplayNameFor( model => model.AllowUse )
    </div>

    <div class="displayCheckBox" id="IsOpenStatus">
        @Html.DisplayFor( model => model.IsOpenStatus )
    </div>
    <div class="displayCheckBoxLabel" id="IsOpenStatusLabel">
        @Html.DisplayNameFor( model => model.IsOpenStatus )
    </div>

    <div class="displayCheckBox" id="IsPredefined">
        @Html.DisplayFor( model => model.IsPredefined )
    </div>
    <div class="displayCheckBoxLabel" id="IsPredefinedLabel">
        @Html.DisplayNameFor( model => model.IsPredefined )
    </div>
</fieldset>