@model HomeScrum.Web.Models.EditSprintStatusViewModel

@using (Html.BeginForm())
{
    @Html.ValidationSummary( true )

    @Html.Partial( "_DataObjectBaseEditor", Model.DomainModel )

    <fieldset>
        <legend>Properties</legend>

        <div class="formBooleanOption">
            @Html.EditorFor( model => model.DomainModel.IsOpenStatus )
            @Html.LabelFor( model => model.DomainModel.IsOpenStatus )
            @Html.ValidationMessageFor( model => model.DomainModel.IsOpenStatus )
        </div>

        <div class="formBooleanOption">
            @Html.EditorFor( model => model.DomainModel.AllowUse )
            @Html.LabelFor( model => model.DomainModel.AllowUse )
            @Html.ValidationMessageFor( model => model.DomainModel.AllowUse )
        </div>
    </fieldset>
    
    <p>
        <input type="submit" value="@ViewBag.EditorButtonLabel" />
    </p>
}
