@using HomeScrum.Web.Extensions

@model HomeScrum.Web.Models.WorkItems.WorkItemEditorViewModel

@using (Html.BeginForm())
{
   @Html.Partial( "_DomainObjectBaseEditor", Model )

   <fieldset>
      <legend>Properties</legend>

      <div class="formStaticText">
         @Html.LabelFor( model => model.CreatedByUserUserName )
         @Html.DisplayFor( model => model.CreatedByUserUserName )
         @Html.HiddenFor( model => model.CreatedByUserId )
         @Html.ValidationMessageFor( model => model.CreatedByUserId )
      </div>

      <div class="formSelectList">
         @Html.LabelFor( model => model.WorkItemTypeId )
         @Html.DropDownListWithDataAttributesFor( model => model.WorkItemTypeId, Model.WorkItemTypes )
         @Html.ValidationMessageFor( model => model.WorkItemTypeId )
      </div>

      <div class="formSelectList">
         @Html.LabelFor( model => model.StatusId )
         @Html.DropDownListWithDataAttributesFor( model => model.StatusId, Model.Statuses )
         @Html.ValidationMessageFor( model => model.StatusId )
      </div>

      <div class="formSelectList" id="ParentWorkItemDiv">
         @Html.LabelFor( model => model.ParentWorkItemId )
         @Html.DropDownListWithDataAttributesFor( model => model.ParentWorkItemId, Model.ProductBacklogItems )
         @Html.ValidationMessageFor( model => model.ParentWorkItemId )
      </div>

      <div class="formSelectList">
         @Html.LabelFor( model => model.SprintId )
         @Html.DropDownListWithDataAttributesFor( model => model.SprintId, Model.Sprints )
         @Html.ValidationMessageFor( model => model.SprintId )
      </div>

      <div class="formSelectList">
         @Html.LabelFor( model => model.ProjectId )
         @Html.DropDownListFor( model => model.ProjectId, Model.Projects )
         @Html.ValidationMessageFor( model => model.ProjectId )
      </div>

      <div class="formSelectList" id="AssignedToUserDiv">
         @Html.LabelFor( model => model.AssignedToUserId )
         @Html.DropDownListFor( model => model.AssignedToUserId, Model.AssignedToUsers )
         @Html.ValidationMessageFor( model => model.AssignedToUserId )
      </div>

   </fieldset>
    
   <div id="TaskListDiv">
      <h3>Tasks</h3>
      <table>
         <tr>
            <th>
               @Html.DisplayNameFor( model => model.WorkItemTypeId )
            </th>
            <th>
               @Html.DisplayNameFor( model => model.Name )
            </th>
            <th>
               @Html.DisplayNameFor( model => model.StatusName )
            </th>
            <th></th>
         </tr>

         @foreach (var item in Model.Tasks)
         {
            var rowClass = item.IsComplete ? "CompletedItemRow" : "NotCompletedItemRow";
        
            <tr id="@Html.AttributeEncode( item.Id.ToString() )" class="@rowClass">
               <td>
                  @Html.DisplayFor( modelItem => item.WorkItemTypeName )
               </td>
               <td>
                  @Html.DisplayFor( modelItem => item.Name )
               </td>
               <td>
                  @Html.DisplayFor( modelItem => item.StatusName )
               </td>
               <td>
                  @Html.ActionLink( "Edit", "Edit", new { id = item.Id, callingAction = "Edit", callingId = Model.Id.ToString() } ) |
                        @Html.ActionLink( "Details", "Details", new { id = item.Id, callingAction = "Edit", callingId = Model.Id.ToString() } ) |
                        @Html.ActionLink( "Remove", "RemoveParent", new { id = item.Id, callingAction = "Edit", callingId = Model.Id.ToString() },
                           new { Class = "action add", title = "Removes the work item from this list, but does not delete the work item." } )
               </td>
            </tr>
         }
      </table>
   </div>
   
   @Html.ValidationSummary( false )
 
   <p>
      <input type="submit" value="@ViewBag.EditorButtonLabel" />
      @Html.ActionLink( "Add New Task", "Create", new { parentId = Model.Id.ToString(), callingAction = "Edit", callingId = Model.Id.ToString() }, new { id = "CreateNewTask" } )
   </p>
    
   <script>
      function ShowHideAssigned(effect) {
         var canBeAssigned = $("#WorkItemTypeId").find(":selected").attr("data-CanBeAssigned");
         if (canBeAssigned == "True") {
            $("#AssignedToUserDiv").show(effect);
         }
         else {
            $("#AssignedToUserDiv").hide(effect);
         }
      }

      function ShowHideParentWorkItem(effect) {
         var canHaveParent = $("#WorkItemTypeId").find(":selected").attr("data-CanHaveParent");
         if (canHaveParent == "True") {
            $("#ParentWorkItemDiv").show(effect);
         }
         else {
            $("#ParentWorkItemDiv").hide(effect);
         }
      }

      function ShowHideTaskList(effect) {
         var canHaveChildren = $("#WorkItemTypeId").find(":selected").attr("data-CanHaveChildren");
         if (canHaveChildren == "True") {
            $("#TaskListDiv").show(effect);
            $("#CreateNewTask").show(effect);
         }
         else {
            $("#TaskListDiv").hide(effect);
            $("#CreateNewTask").hide(effect);
         }
      }

      function ShowHideDataItems(effect) {
         ShowHideAssigned(effect);
         ShowHideParentWorkItem(effect);
         ShowHideTaskList(effect);
      }

      function SetProjectToParentWorkItemProject() {
         var selectedProject = $("#ProjectId").val();
         var backlogProject = $("#ParentWorkItemId").find(":selected").attr("data-ProjectId");
         if (selectedProject != backlogProject &&
             backlogProject != "00000000-0000-0000-0000-000000000000") {
            $("#ProjectId").val(backlogProject);
         }
      }

      function SetSprintToParentWorkItemSprint() {
         var selectedSprint = $("#SprintId").val();
         var backlogSprint = $("#ParentWorkItemId").find(":selected").attr("data-SprintId");
         if (selectedSprint != backlogSprint &&
             backlogSprint != "00000000-0000-0000-0000-000000000000") {
            $("#SprintId").val(backlogSprint);
         }
      }

      function SetProjectToSprintProject() {
         var selectedProject = $("#ProjectId").val();
         var sprintProject = $("#SprintId").find(":selected").attr("data-ProjectId");
         if (selectedProject != sprintProject &&
             sprintProject != "00000000-0000-0000-0000-000000000000") {
            $("#ProjectId").val(sprintProject);
         }
      }

      function WorkItemIsClosed() {
         var statusIsOpen = $("#StatusId").find(":selected").attr("data-IsOpenStatus");
         return (statusIsOpen == "False");
      }

      // TODO: Disabled elements to not get sent with the form submit, so I need to change
      //       this so each of these elements has a sister hidden element that does get
      //       sent, I guess.
      function SetNameAccess() {
         if (WorkItemIsClosed()) {
            $("#Name").prop('readonly', true);
         }
         else {
            $("#Name").prop('readonly', false);
         }
      }

      function SetDescriptionAccess() {
         if (WorkItemIsClosed()) {
            $("#Description").prop('readonly', true);
         }
         else {
            $("#Description").prop('readonly', false);
         }
      }

      function SetWorkItemTypeAccess() {
         if (WorkItemIsClosed()) {
            $("#WorkItemTypeId").prop('disabled', true);
         }
         else {
            $("#WorkItemTypeId").prop('disabled', false);
         }
      }

      function SetAssignedToUserAccess() {
         if (WorkItemIsClosed()) {
            $("#AssignedToUserId").prop('disabled', true);
         }
         else {
            $("#AssignedToUserId").prop('disabled', false);
         }
      }

      function SetParentWorkItemAccess() {
         if (WorkItemIsClosed()) {
            $("#ParentWorkItemId").prop('disabled', true);
         }
         else {
            $("#ParentWorkItemId").prop('disabled', false);
         }
      }

      function SetSprintListAccess() {
         var backlogItem = $("#ParentWorkItemId").val();
         if (backlogItem != "00000000-0000-0000-0000-000000000000" || WorkItemIsClosed()) {
            $("#SprintId").prop('disabled', true);
         }
         else {
            $("#SprintId").prop('disabled', false);
         }
      }

      function SetProjectListAccess() {
         var backlogItem = $("#ParentWorkItemId").val();
         var sprint = $("#SprintId").val();
         if (backlogItem != "00000000-0000-0000-0000-000000000000" ||
             sprint != "00000000-0000-0000-0000-000000000000" ||
             WorkItemIsClosed()) {
            $("#ProjectId").prop('disabled', true);
         }
         else {
            $("#ProjectId").prop('disabled', false);
         }
      }

      function SetListItemsAccess() {
         SetNameAccess();
         SetDescriptionAccess();
         SetAssignedToUserAccess();
         SetProjectListAccess();
         SetWorkItemTypeAccess();
         SetSprintListAccess();
         SetParentWorkItemAccess();
      }

      $(function () {
         $("#CreateNewTask").button();

         ShowHideDataItems();
         SetListItemsAccess();

         $("#StatusId").change(function () {
            SetListItemsAccess();
         });

         $("#WorkItemTypeId").change(function () {
            ShowHideDataItems("fade");
         });

         $("#ParentWorkItemId").change(function () {
            SetSprintToParentWorkItemSprint();
            SetProjectToParentWorkItemProject();
            SetListItemsAccess();
         });

         $("#SprintId").change(function () {
            SetProjectToSprintProject();
            SetListItemsAccess();
         });
      });
   </script>
}