@using HomeScrum.Web.Extensions
@model HomeScrum.Web.Models.WorkItems.WorkItemViewModel

@{
    ViewBag.Title = "Work Item";
}

<h2>Details</h2>

<fieldset>
    <legend>WorkItemViewModel</legend>

    <div class="displayLabel" id="NameLabel">
        @Html.DisplayNameFor( model => model.Name )
    </div>
    <div class="displayField" id="Name">
        @Html.DisplayFor( model => model.Name )
    </div>

    <div class="displayLabel" id="DescriptionLabel">
        @Html.DisplayNameFor( model => model.Description )
    </div>
    <div class="displayLongTextField" id="Description">
        @Html.DisplayFormattedText( Model.Description )
    </div>

    <div class="displayLabel" id="StatusLabel">
        @Html.DisplayNameFor( model => model.StatusName )
    </div>
    <div class="displayField" id="Status">
        @Html.DisplayFor( model => model.StatusName )
    </div>

    <div class="displayLabel" id="ProjectLabel">
        @Html.DisplayNameFor( model => model.ProjectName )
    </div>
    <div class="displayField" id="Project">
        @Html.DisplayFor( model => model.ProjectName )
    </div>

    <div class="displayLabel" id="CreatedByUserNameLabel">
        @Html.DisplayNameFor( model => model.CreatedByUserName )
    </div>
    <div class="displayField" id="CreatedByUserName">
        @Html.DisplayFor( model => model.CreatedByUserName )
    </div>

    <div class="displayLabel" id="AssinedToUserNameLabel">
        @Html.DisplayNameFor( model => model.AssignedToUserName )
    </div>
    <div class="displayField" id="AssigneToUserName">
        @Html.DisplayFor( model => model.AssignedToUserName )
    </div>
</fieldset>
<p>
    @Html.ActionLink( "Edit", "Edit", new { id = Model.Id } ) |
    @Html.ActionLink( "Done", "Index" )
</p>
