@model HomeScrum.Web.Models.Admin.AcceptanceCriterionStatusViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>AcceptanceCriteriaStatus</legend>

    <div class="displayLabel" id="NameLabel">
        @Html.DisplayNameFor( model => model.Name )
    </div>
    <div class="displayField" id="Name">
        @Html.DisplayFor( model => model.Name )
    </div>

    <div class="displayLabel" id="DescriptionLabel">
        @Html.DisplayNameFor( model => model.Description )
    </div>
    <div class="displayLongTextField" id="Description">
        @Html.DisplayFor( model => model.Description )
    </div>

    <div class="displayCheckBox" id="AllowUse">
        @Html.DisplayFor( model => model.AllowUse )
    </div>
    <div class="displayCheckBoxLabel" id="AllowUseLabel">
        @Html.DisplayNameFor( model => model.AllowUse )
    </div>


    <div class="displayCheckBox" id="IsAccepted">
        @Html.DisplayFor( model => model.IsAccepted )
    </div>
    <div class="displayCheckBoxLabel" id="IsAcceptedLabel">
        @Html.DisplayNameFor( model => model.IsAccepted )
    </div>

    <div class="displayCheckBox" id="IsPredefined">
        @Html.DisplayFor( model => model.IsPredefined )
    </div>
    <div class="displayCheckBoxLabel" id="IsPredefinedLabel">
        @Html.DisplayNameFor( model => model.IsPredefined )
    </div>
</fieldset>
<p>
    @Html.ActionLink( "Edit", "Edit", new { id = Model.Id } ) |
    @Html.ActionLink( "Done", "Index" )
</p>
