@model HomeScrum.Web.Models.Admin.LocalPasswordModel

<h3>Change password</h3>

<div id="ChangePasswordEditor">
   @using (Html.BeginForm( "Manage", "Account", FormMethod.Post, new { id = "Editor", @class = "form-horizontal", role = "form" } ))
   {
      @Html.AntiForgeryToken()

      <fieldset>
         <legend class="hidden">Change Password Form</legend>

         <div class="form-group">
            @Html.LabelFor( m => m.OldPassword, new { @class = "col-sm-2 control-label" } )
            <div class="col-sm-6">
               @Html.PasswordFor( m => m.OldPassword, new { @class = "form-control" } )
               @Html.ValidationMessageFor( m => m.OldPassword )
            </div>
         </div>

         <div class="form-group">
            @Html.LabelFor( m => m.NewPassword, new { @class = "col-sm-2 control-label" } )
            <div class="col-sm-6">
               @Html.PasswordFor( m => m.NewPassword, new { @class = "form-control" } )
               @Html.ValidationMessageFor( m => m.NewPassword )
            </div>
         </div>

         <div class="form-group">
            @Html.LabelFor( m => m.ConfirmPassword, new { @class = "col-sm-2 control-label" } )
            <div class="col-sm-6">
               @Html.PasswordFor( m => m.ConfirmPassword, new { @class = "form-control" } )
               @Html.ValidationMessageFor( m => m.ConfirmPassword )
            </div>
         </div>

         @Html.ValidationSummary()

         <input type="submit" value="Change password" class="btn btn-primary" />
      </fieldset>
   }
</div>
