@model HomeScrum.Web.Models.Admin.LoginModel

@{
    ViewBag.Title = "Log in";
}

@Styles.Render( "~/Content/SignInCss" )

<div class="container">
   @using (Html.BeginForm( "Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm", @class = "form-signin" } ))
   {
      @Html.AntiForgeryToken()
      @Html.ValidationSummary( true )

      <fieldset>
         <div>
            @Html.TextBoxFor( m => m.UserName, new { @class = "form-control", placeholder = "Username", required = true, autofocus = true } )
            @Html.ValidationMessageFor( m => m.UserName )
         </div>
         <div>
            @Html.PasswordFor( m => m.Password, new { @class = "form-control", placeholder = "Password", required = true } )
            @Html.ValidationMessageFor( m => m.Password )
         </div>
      </fieldset>
      <input type="submit" value="Log in" class="btn btn-lg btn-primary btn-block" />
   }
</div>

@section Scripts {
    @Scripts.Render( "~/bundles/jqueryval" )
}
