@model IEnumerable<HomeScrum.Web.Models.Admin.WorkItemStatusViewModel>

<table class="adminList table table-bordered">
   <thead class="ListHead">
      <tr>
         <th class="SortIcon"></th>
         <th class="FirstDataColumn">
            @Html.DisplayNameFor( model => model.Name )
         </th>
         <th class="DescriptiveText">
            @Html.DisplayNameFor( model => model.Description )
         </th>
         <th class="LastDataColumn">
            @Html.DisplayNameFor( model => model.Category )
         </th>
      </tr>
   </thead>

   <tbody class="ListBody">
      @foreach (var item in Model)
      {
         var rowClass = item.AllowUse ? "ActiveItemRow" : "InactiveItemRow";

         <tr id="@Html.AttributeEncode( item.Id.ToString() )" class="@rowClass">
            <td class="SortIcon"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></td>
            <td class="FirstDataColumn">
               @Html.ActionLink( item.Name, "Edit",
                  new { id = item.Id },
                  new { @class = "editDialog", data_target = "#modalEditor", data_toggle = "modal" } )
            </td>
            <td class="DescriptiveText">
               @Html.DisplayFor( modelItem => item.Description )
            </td>
            <td class="LastDataColumn">
               @Html.DisplayFor( modelItem => item.Category )
            </td>
         </tr>
      }
   </tbody>
</table>
