@model HomeScrum.Web.Models.Admin.ProjectEditorViewModel


   @Html.ValidationSummary( true )

   @Html.Partial( "_DomainObjectBaseEditor", Model )

   <fieldset>
      <legend class="hidden">Properties</legend>

      <div class="form-group">
         @Html.LabelFor( model => model.StatusId, new { @class = "col-sm-2 control-label" } )
         <div class="col-sm-10">
            @Html.DropDownListFor( model => model.StatusId, Model.Statuses, new { @class = "MainData form-control" } )
         </div>
      </div>
   </fieldset>

   @Scripts.Render( "~/bundles/jqueryval" )