@model HomeScrum.Web.Models.ProjectEditorViewModel

@using (Html.BeginForm())
{
    @Html.ValidationSummary( true )

    @Html.Partial( "_DataObjectBaseEditor", Model )

    <fieldset>
        <legend>Properties</legend>

        @Html.HiddenFor( model => model.LastModifiedUserId )
        @Html.HiddenFor( model => model.ProjectStatusId )
        @Html.HiddenFor( model => model.ProjectStatusName )

        @Html.DropDownList( "ProjectStatusId", Model.ProjectStatuses )

        <p>
            <input type="submit" value="@ViewBag.EditorButtonLabel" />
        </p>
    </fieldset>
}