@model HomeScrum.Web.Models.ProjectEditorViewModel

@using (Html.BeginForm())
{
    @Html.ValidationSummary( true )

    @Html.Partial( "_DataObjectBaseEditor", Model )

    <fieldset>
        <legend>Properties</legend>

        @Html.HiddenFor( model => model.LastModifiedUserRid )
        @Html.HiddenFor( model => model.ProjectStatus.Id )
        @Html.HiddenFor( model => model.ProjectStatus.Name )

        <p>
            <input type="submit" value="@ViewBag.EditorButtonLabel" />
        </p>
    </fieldset>
}