@model HomeScrum.Web.Models.Admin.ProjectEditorViewModel

@using (Html.BeginForm())
{
    @Html.ValidationSummary( true )

    @Html.Partial( "_DataObjectBaseEditor", Model )

    <fieldset>
        <legend>Properties</legend>

        <div class="formSelectList">
            @Html.LabelFor( model => model.ProjectStatusId )
            @Html.DropDownListFor( model => model.ProjectStatusId, Model.ProjectStatuses )
        </div>

        <p>
            <input type="submit" value="@ViewBag.EditorButtonLabel" />
        </p>
    </fieldset>
}