@model HomeScrum.Web.Models.Admin.ProjectEditorViewModel

@using (Html.BeginForm( null, null, null, FormMethod.Post, new { id = "Editor" } ))
{
   @Html.ValidationSummary( true )

   @Html.Partial( "_DomainObjectBaseEditor", Model )

   <fieldset>
      <legend>Properties</legend>

      <div class="formSelectList">
         @Html.LabelFor( model => model.StatusId )
         @Html.DropDownListFor( model => model.StatusId, Model.Statuses, new { @class = "MainData" } )
      </div>
   </fieldset>

   @Html.HiddenFor( model => model.Mode );
}

<a href="#" id="SubmitButton"></a>

@Scripts.Render( "~/Bundles/BaseScripts" )
<script>
   $(document).ready(function () {
      EditorBase.init();
   });
</script>