@model HomeScrum.Data.Domain.WorkItemStatus

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>WorkItemStatus</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.StatusCd)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StatusCd)
            @Html.ValidationMessageFor(model => model.StatusCd)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsOpenStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsOpenStatus)
            @Html.ValidationMessageFor(model => model.IsOpenStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsPredefined)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsPredefined)
            @Html.ValidationMessageFor(model => model.IsPredefined)
        </div>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
