@using HomeScrum.Web.Extensions

@model HomeScrum.Web.Models.Admin.WorkItemTypeEditorViewModel

@using (Html.BeginForm( "Edit", "WorkItemTypes", new { id = Model.Id }, FormMethod.Post, new { id = "Editor" } ))
{
   @Html.ValidationSummary( true )

   @Html.Partial( "_SystemDomainObjectEditor", Model )

   <fieldset>
      <legend>Properties</legend>

      <div class="formSelectList">
         @Html.LabelFor( model => model.Category )
         @Html.EnumDropDownListFor( model => model.Category, new { @class = "MainData" } )
         @Html.ValidationMessageFor( model => model.Category )
      </div>

      <div class="formBooleanOption">
         @Html.EditorFor( model => model.AllowUse )
         @Html.LabelFor( model => model.AllowUse, new { @class = "MainData" } )
         @Html.ValidationMessageFor( model => model.AllowUse )
      </div>
   </fieldset>

   @Html.HiddenFor( model => model.Mode );
}


<a href="#" id="SubmitButton"></a>

@Scripts.Render( "~/Bundles/BaseScripts" )
<script>
   $(document).ready(function () {
      EditorBase.init();
   });
</script>
